.soustitre {
	font-family:"Times New Roman", Times, serif;
    text-indent:0;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-size: 1em;
    page-break-after:avoid;
}

#personnages ul {
	list-style-type: none;
}

#personnages li {
	text-indent: -1.5em;
}

.titreChapitreFD {
	text-decoration: underline;
}

.didascalie {
	font-style: italic;
	margin-top: 1em;
}

.perso {
	text-align: center;
	text-indent: 0;
	font-style: italic;
	margin-top: 2em;
    page-break-after:avoid;
}

.dialogue {
}