@namespace h "http://www.w3.org/1999/xhtml";

p
{
    font-family:"Times New Roman", Times, serif;
    margin:0.4em 0;
    text-indent: 2.00em;
    text-align: justify;
    font-size: 1.00em;
    widows: 2;
    orphans: 2;
}
#mainTitle
{
	font-family:"Times New Roman", Times, serif;
    margin: 3em 0 1em 0;
    text-align: center;
    font-size: 2.00em;
    page-break-after:avoid;
}
#subtitle
{
	font-family:"Times New Roman", Times, serif;
    margin: 0 0 2em 0;
    text-align: center;
    font-size: 1.60em;
    page-break-after:avoid;
}
#publisher
{
	font-family:"Times New Roman", Times, serif;
    margin: 2em 0 0 0;
    text-align: center;
    font-size: 1.00em;
    page-break-after:avoid;
}
#collection
{
	font-family:"Times New Roman", Times, serif;
    margin: 2em 0 0 0;
    text-align: center;
    font-size: 1.00em;
    page-break-after:avoid;
}
#annee
{
	font-family:"Times New Roman", Times, serif;
    margin: 1em 0 0 0;
	text-indent:0;
    text-align: center;
    font-size: 0.80em;
}
#logo
{
	margin: 1em 0 0 0;
	text-indent:0;
	width: 100%;
    text-align: center;
}
.titrePrincipal
{
	font-family:"Times New Roman", Times, serif;
	text-indent:0;
	font-weight: bold;
    text-align: center;
    font-size: 1.30em;
    page-break-after:avoid;
    text-transform: uppercase;
}
.auteur 
{
	font-family:"Times New Roman", Times, serif;
	text-indent:0;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-size: 1.2em;
    page-break-after:avoid;
}
.titreNouvelle
{
	font-family:"Times New Roman", Times, serif;
	text-indent:0;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-size: 1.2em;
    page-break-after:avoid;
    font-variant: small-caps;
    margin-bottom: 2em;
}
.titreChapitre
{
	font-family:"Times New Roman", Times, serif;
	margin: 2em 0 1.5em 0;
	text-indent:0;
    font-weight: bold;
    text-align: center;
    font-size: 1em;
    page-break-after:avoid;
    clear: both;
}
.separateur
{
	text-indent:0;
	font-weight: bold;
    text-align: center;
    font-size: 1.20em;
    page-break-after:avoid;
    margin: 2em 0;
}
.illustration
{
	margin: auto;
	width: 100%;
	height: 100%;
	text-align: center;
}
.portrait
{
	height: 100%;
	width: auto;
	max-width : 800px;
	margin: auto;
	text-align: center;
}
.paysage
{
	margin: auto;
	width: 100%;
	max-width : 800px;
	text-align: center;
}
.titrepresentation
{
	font-family:"Times New Roman", Times, serif;
	text-indent:0;
	text-align: center;
    page-break-after:avoid;
}
.titrebio
{
	font-family:"Times New Roman", Times, serif;
	text-indent:0;
	text-align: left;
    page-break-after:avoid;
}
.bio 
{
	font-family:"Times New Roman", Times, serif;
	text-indent: 1.00em;
    font-size: 0.90em;
}
.signature
{
	font-family:"Times New Roman", Times, serif;
	text-indent:0;
	text-align: right;
	font-size: 1em;
	font-style: italic;
}
.note 
{
	font-family:"Times New Roman", Times, serif;
	text-indent: 1.00em;
    font-size: 0.90em;
}
p.citation
{
	font-family:"Times New Roman", Times, serif;
    margin:0;
	text-indent:0;
	text-align: right;
	font-size: 1em;
	font-style: italic;
}
.citation p
{
	font-family:"Times New Roman", Times, serif;
    margin:0;
	text-indent:0;
	text-align: right;
	font-size: 1em;
	font-style: italic;
}
.citation i
{
	font-style: normal;
}
.citation em
{
	font-style: normal;
}
.collapse
{
	margin: 0pt;
	padding: 0pt;
}
.dialogueTiret
{
	margin: 0pt;
	padding-left: 1em;
	text-indent: -1em;
}
.dialogueGuillemet
{
	margin: 0pt;
	padding-left: 1em;
	text-indent: -0.5em;
}
#fin
{
	font-family:"Times New Roman", Times, serif;
	margin-top: 5em;
	text-align: center;
	text-indent:0;
	font-weight: bold;
    font-size: 3.00em;
}
.introduction
{
	font-size: 0.80em;
	margin-bottom: 1em;
}
.vignette
{
	margin: 2em 0 0 0;
	text-indent:0;
	width: 100%;
    text-align: center;
    page-break-before: avoid;
}

.siecle {
	font-variant: small-caps;
}

.exposant {
	vertical-align:super;
}